*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
header{
background-color: rgb(43,61,81);
color: white;
height: 50px;
padding-top: 20px;
}
.container{
  margin: 0 auto;
  max-width: 1200px;
}
.logo,nav{
  display: inline-block;
}
.logo{
  float: left;
  width: 30%;
  text-align: center;
}
nav{
  float: right;
  width: 70%;
  text-align: right;
}
nav ul{
  list-style: none;
}
nav ul li{
  display: inline-block;
  padding-right: 2%;
}
