*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
header{
background-color: rgb(43,61,81);
color: white;
height: 50px;
padding-top: 20px;
}
.container{
  margin: 0 auto;
  max-width: 1200px;
}
.logo,nav{
  display: inline-block;
}
.logo{
  float: left;
  width: 30%;
  text-align: center;
}
nav{
  float: right;
  width: 70%;
  text-align: right;
}
nav ul{
  list-style: none;
}
nav ul li{
  display: inline-block;
  padding-right: 2%;
}
.white{
  background-color: #ffffff;
  text-align: center;
  padding: 100px 0;
}
.green{
  background-color: #18bc9c;
  text-align: center;
  padding: 100px 0;
}
.grey{
  background-color: #2c3e50;
  text-align: center;
  padding: 100px 0;
}
h1{
  font-size: 70px;
  padding: 30px;
  color: white;
}
p{
  font-size: 24px;
  padding: 10px;
  color: white;
}
hr{
  width: 30px;
  margin: 0 auto;
  .star {
    width: 20%;
    border: 2px solid #F8F5E1;
  }
  .zvezda {
    margin-top: -33px;
  }
  .starb {
    width: 20%;
    border: 2px solid black;
  }
  i.fab {
    display: inline-block;
    border: 1px solid white;
    width: 35px;
    border-radius: 50%;
    padding: 0.5em 0.75em;
    color: white;
  }
  .bg-black {
    background-color: black;
}
.black footer{
  background-color: #1a252f;
}
